:root {
    --main-color: violet;

    --color: black;
    --secondary-color:white;
    --background-page: rgb(0, 0, 34);
    --background-game: rgb(31, 63, 153);

    --spot:purple;
    --light-spot: rgb(206, 101, 255);
}

body {
    color:var(--secondary-color);
    margin: 0; padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Geomanist', 'Roboto', sans-serif;

    background-color: var(--background-page);
}

.header {
    display:flex;
    justify-content: center;
    letter-spacing: 5px;
}


.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
}
.fullscreen-container.active {
    display:block;
}

#gameBoard {
    background-color: var(--background-game);
    border: 1px solid black;
    border-radius: 12px;
    width:500px;
    height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.spot {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-size: 5rem;
    border: 2px solid black;
    background-color: var(--spot);

    transition: 0.3s;
}

.spot:hover {
    transform: scale(1.08);
    background-color: var(--light-spot);
    z-index: 100;
}

.spot img {
    height: 150px;
    width: auto;
}

#endGameScreen {
    border: 1px solid black;
    border-radius: 12px;
    background-color: var(--background-game);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
}
#endGameScreen.active {
    transform: translate(-50%, -50%) scale(1);
}
.endMessage {
    display:flex;
    justify-content: center;
}